@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
/* font-family: 'Ubuntu', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* navbar styling */
.navbar {
  position: fixed;
  //   background: crimson;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    span {
      color: crimson;
      transition: all 0.3s ease;
    }
  }

  .menu {
    li {
      list-style: none;
      display: inline-block;
      a {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
        transition: color 0.3s ease;
        &:hover {
          color: crimson;
        }
      }
    }
  }
  &.stickey {
    background: crimson;
    padding: 15px 0;
    .menu li a:hover {
      color: #fff;
    }
    .logo a span {
      color: #fff;
    }
  }
}

// menu button styling
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
/* home section styling */

.home {
  display: flex;
  background: url("../../content/images/banner.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
  background-size: cover;
  background-attachment: fixed;
  .max-width {
    margin: auto 0 auto 40px;
  }

  .home-content {
    .text-1 {
      font-size: 27px;
    }

    .text-2 {
      font-size: 75px;
      font-weight: 600;
      margin-left: -3px;
    }

    .text-3 {
      font-size: 27px;
      margin: 5px 0;

      span {
        color: crimson;
        font-weight: 500;
      }
    }
    a {
      display: inline-block;
      background: crimson;
      color: #fff;
      font-size: 25px;
      padding: 12px 36px;
      margin-top: 20px;
      border-radius: 6px;
      border: 2px solid crimson;
      transition: all 0.3s ease;
    }
    & a:hover {
      background: transparent;
      color: crimson;
    }
  }
}

// about section styling
.about {
  padding: 100px 0;
  font-family: "Poppins", sans-serif;

  .title {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      width: 180px;
      height: 3px;
      background: #111111;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      content: "who i m";
      position: absolute;
      background: #ffffff;
      bottom: -12px;
      padding: 5px;
      left: 50%;
      font-size: 20px;
      color: crimson;
      transform: translateX(-50%);
    }
  }
  .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .left {
      width: 45%;
      img {
        height: 400px;
        width: 400px;
        object-fit: cover;
        border-radius: 6px;
      }
    }

    .right {
      width: 55%;
      .text {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
        span {
          color: crimson;
        }
      }
      p {
        text-align: justify;
      }
      a {
        display: inline-block;
        background: crimson;
        color: #fff;
        font-size: 20px;
        padding: 10px 30px;
        margin-top: 20px;
        border-radius: 6px;
        border: 2px solid crimson;
        transition: all 0.3s ease;
        &:hover {
          color: crimson;
          background: transparent;
        }
      }
    }
  }
}

// responsive media quiries start here

@media (max-width: 1300px) {
  .home {
    .max-width {
      margin-left: 0;
    }
  }
}

@media (max-width: 1004px) {
  .about {
    .about-content {
      .left {
        img {
          height: 350px;
          width: 350px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    z-index: 999;
    display: block;
    i.active:before {
      content: "\f00d";
    }
  }
  .navbar {
    .menu {
      position: fixed;
      background: #000;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
      &.active {
        left: 0;
      }
      li {
        display: block;
        a {
          display: inline-block;
          font-size: 25px;
          margin: 20px 0;
        }
      }
    }
  }

  .home {
    .home-content {
      .text-2 {
        font-size: 70px;
      }

      .text-3 {
        font-size: 35px;
      }
      a {
        font-size: 23px;
        padding: 10px 30px;
      }
    }
  }

  .about {
    .about-content {
      .column {
        width: 100%;
      }
      .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
      }
      .right {
        flex: 100%;
      }
    }
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home {
    .home-content {
      .text-2 {
        font-size: 60px;
      }

      .text-3 {
        font-size: 30px;
      }
      a {
        font-size: 20px;
        padding: 8px 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .max-width {
    padding: 0 23px;
  }
  .home {
    background: url("../../content/images/banner.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    .home-content {
      .text-2 {
        font-size: 50px;
      }

      .text-3 {
        font-size: 27px;
      }
    }
  }
}
