@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
/* font-family: 'Ubuntu', sans-serif; */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: crimson;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: crimson;
}

.navbar.stickey {
  background: crimson;
  padding: 15px 0;
}

.navbar.stickey .menu li a:hover {
  color: #fff;
}

.navbar.stickey .logo a span {
  color: #fff;
}

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* home section styling */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../../content/images/banner.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
  background-size: cover;
  background-attachment: fixed;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 27px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  background: transparent;
  color: crimson;
}

section {
  padding: 100px 0;
  font-family: "Poppins", sans-serif;
}

section .title {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

section .title::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 3px;
  background: #111111;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  background: #ffffff;
  bottom: -12px;
  padding: 5px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about,
.services,
.skills,
.teams {
  font-family: "Poppins", sans-serif;
}

.about .title::after,
.services .title::after,
.skills .title::after,
.teams .title::after {
  content: "who i m";
}

.about .about-content,
.services .about-content,
.skills .about-content,
.teams .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-content .left,
.services .about-content .left,
.skills .about-content .left,
.teams .about-content .left {
  width: 45%;
}

.about .about-content .left img,
.services .about-content .left img,
.skills .about-content .left img,
.teams .about-content .left img {
  height: 400px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right,
.services .about-content .right,
.skills .about-content .right,
.teams .about-content .right {
  width: 55%;
}

.about .about-content .right .text,
.services .about-content .right .text,
.skills .about-content .right .text,
.teams .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span,
.services .about-content .right .text span,
.skills .about-content .right .text span,
.teams .about-content .right .text span {
  color: crimson;
}

.about .about-content .right p,
.services .about-content .right p,
.skills .about-content .right p,
.teams .about-content .right p {
  text-align: justify;
}

.about .about-content .right a,
.services .about-content .right a,
.skills .about-content .right a,
.teams .about-content .right a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover,
.services .about-content .right a:hover,
.skills .about-content .right a:hover,
.teams .about-content .right a:hover {
  color: crimson;
  background: transparent;
}

.services,
.teams {
  background: #111;
  color: #fff;
}

.services .title::before,
.teams .title::before {
  background: #fff;
}

.services .title::after,
.teams .title::after {
  background: #111;
  content: "what i provide";
}

.services .serv-content,
.teams .serv-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .serv-content .card,
.teams .serv-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.services .serv-content .card:hover,
.teams .serv-content .card:hover {
  background: crimson;
}

.services .serv-content .card:hover i,
.teams .serv-content .card:hover i {
  color: #fff;
}

.services .serv-content .card i,
.teams .serv-content .card i {
  color: crimson;
  font-size: 50px;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

.services .serv-content .card .text,
.teams .serv-content .card .text {
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.services .serv-content .card .box,
.teams .serv-content .card .box {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services .serv-content .card:hover .box,
.teams .serv-content .card:hover .box {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.skills .skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .left p {
  text-align: justify;
}

.skills .skills-content .left a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 18px;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
  color: crimson;
  background: transparent;
}

.skills .skills-content .right .bars {
  margin-bottom: 15px;
}

.skills .skills-content .right .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}

.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgray;
  position: relative;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}

.skills .skills-content .right .html::before {
  width: 90%;
}

.skills .skills-content .right .css::before {
  width: 60%;
}

.skills .skills-content .right .js::before {
  width: 80%;
}

.skills .skills-content .right .ReactJs::before {
  width: 50%;
}

.skills .skills-content .right .sql::before {
  width: 40%;
}

.skills .title::after {
  content: "what i know";
}

.teams::after {
  content: "who is with me";
}

@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0;
  }
}

@media (max-width: 1004px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    z-index: 999;
    display: block;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    background: #000;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    font-size: 25px;
    margin: 20px 0;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 30px;
  }
  .home .home-content a {
    font-size: 20px;
    padding: 8px 20px;
  }
  .services .serv-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .max-width {
    padding: 0 23px;
  }
  .home {
    background: url("../../content/images/banner.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
  }
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
}
/*# sourceMappingURL=style.css.map */